<launch>

  <param name="robot_description"
    command="$(find xacro)/xacro '$(find cube_description)/urdf/object.urdf'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
   </node>

  <!-- Combine joint values and convert to tf-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cube_description)/config/cube.rviz"/>


</launch>